In [11]:
import numpy as np
import pandas as pd

loans_df = pd.read_csv('loans_full_schema.csv')
loans_df.head(10)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
5,NaN,NaN,KY,OWN,34000.0,Not Verified,6.46,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.13,743.29,129.84,0.0
6,hr,10.0,MI,MORTGAGE,35000.0,Source Verified,23.66,155000.0,Not Verified,13.12,...,C2,Jan-2018,Current,whole,Cash,22560.00,2730.51,1440.00,1290.51,0.0
7,police,10.0,AZ,MORTGAGE,110000.0,Source Verified,16.19,NaN,NaN,NaN,...,B5,Jan-2018,Current,whole,Cash,19005.39,1765.84,994.61,771.23,0.0
8,parts,10.0,NV,MORTGAGE,65000.0,Source Verified,36.48,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,18156.66,2703.22,1843.34,859.88,0.0
9,4th person,3.0,IL,RENT,30000.0,Not Verified,18.91,NaN,NaN,NaN,...,A3,Mar-2018,Current,fractional,Cash,6077.13,391.15,322.87,68.28,0.0

In [27]:
df_clothes = pd.DataFrame(data = [['green','M',10,'shirt'],['red','M',60,'sweatshirt'],['black','S',120,'shoes']])
df_clothes.column['color','size','price','type']
df_clothes.head()

AttributeError: 'DataFrame' object has no attribute 'column'

In [16]:
#can convert categorical values to numerical 
#size is ordinal, so it can be easily encoded
size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

KeyError: 'size'

In [24]:
#nominal values
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jedwa\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.12.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.3.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.0-1-cp39-cp39-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.6 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.3/10.6 MB 3.4 MB/s eta 0:00:04
   -- ------------------------------------- 0.7/10.6 MB 4.8 MB/s eta 0:00:03
   ---- ----------------------------------- 1.1/10.6 MB 5.5 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/10.6 MB 7.9 MB/s eta 0:00:02
   ---------- ----------------------------- 2.8/10.6 MB 8.9 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/10.6 MB 9.5 MB/s eta 0:00:01
   -------------- ------------------------- 4.0/10.6 MB 9.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/10.6 MB 9.9 MB/s eta 0:00:01
   ----------------- ---------------------- 4.6/10.6 MB 9.3 MB/s eta 0:00:01
   ----------------- ---------------------- 4.8/10.6 MB 8.7 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.6 MB 8.4 MB/s eta 0:00:01
   -------------------- ------------------- 5.3/10.6 MB 8.3 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.6 MB 8.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.6 MB 8.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.1/10.6 MB 9.1 MB/s eta 0:00:01
   ----------------------------- ---------- 7.8/10.6 MB 9.4 MB/s eta 0:00:01
   ------------------------------- -------- 8.4/10.6 MB 9.6 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.6 MB 9.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.6 MB 9.5 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 9.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 9.3 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 9.5 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ------------------------- -------------- 194.6/302.2 kB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 302.2/302.2 kB 6.2 MB/s eta 0:00:00
Downloading threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.3.0

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
# one hot encoding - easiest way
# this wont work if you have data that is already numerical
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

KeyError: "None of [Index(['color', 'size', 'price'], dtype='object')] are in the [columns]"