In [21]:
import numpy as np
import pandas as pd

#modules for statistics
import math
import statistics
from scipy import stats

belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)


grouped_belize_df = belize_df.groupby('neighbourhood')
grouped_belize_df['price'].mean()
price_mean = grouped_belize_df['price'].mean()
mean_price_df = pd.DataFrame(price_mean)
count = grouped_belize_df['number_of_reviews'].count()
aval = grouped_belize_df['availability_365'].max()
count_of_reviews_df = pd.DataFrame(count)
availability_max_365_df = pd.DataFrame(aval)
merge_1_df = pd.merge(mean_price_df, count_of_reviews_df, on='neighbourhood')
merge_2_df = pd.merge(merge_1_df, availability_max_365_df, on='neighbourhood')
merge_2_df.head()
#merge_2_df is the final dataframe

                      price  number_of_reviews  availability_365
neighbourhood
Belize Islands   399.442824               1303               365
Belize Mainland  288.273063                271               365
Cayo             205.847525                505               365
Corozal          156.553846                 65               365
Orange Walk      122.035714                 28               365

In [11]:
grouped_belize_df['number_of_reviews'].count()

neighbourhood
Belize Islands          1303
Belize Mainland          271
Cayo                     505
Corozal                   65
Orange Walk               28
Stann Creek Islands       12
Stann Creek Mainland     565
Toledo Mainland           47
Name: number_of_reviews, dtype: int64

In [14]:
grouped_belize_df['availability_365'].max()

neighbourhood
Belize Islands          365
Belize Mainland         365
Cayo                    365
Corozal                 365
Orange Walk             365
Stann Creek Islands     365
Stann Creek Mainland    365
Toledo Mainland         365
Name: availability_365, dtype: int64